@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --main-color: #C19B39;
  --secondary-color: #111111;
  --font-size: 22px;
  --spacing: 10px;
}

@theme inline {
  --background: var(--background);
  --foreground: var(--foreground);
  --primary: var(--main-color);
  --secondary: var(--secondary-color);
  --font-roboto: var(--font-roboto);
  --font-size: var(--font-size);
  --spacing: var(--spacing);

  //responsive
  --breakpoint-2xl: 2000px;
  --breakpoint-xl: 1550px;
  --breakpoint-l: 1250px;
  --breakpoint-m: 1025px;
  --breakpoint-s: 768px;
  --breakpoint-xs: 500px;
  --breakpoint-xxs: 400px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
  font-size: var(--font-size);
  line-height: 26px;
  font-weight: 300;
  position: relative;
  overflow-x: hidden;
}
// ul{
//   list-style: disc !important;
//   list-style-type: disc !important;
//   padding-left: 20px;
//   li{
//     display: list-item !important;
//   }
// }

h1, .h1{font-size: 75px; line-height: 82px; font-weight: 200;}
h2, .h2{font-size: 48px; line-height: 50px; font-weight: 200;}
strong{font-weight: 700;}
.boxed{padding-left: 160px; padding-right: 160px;}
.gradient-image{background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, #111111 87.78%);}
.show-on-scroll{opacity: 0;}
.particles-container{
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 63.32%, 1.05% 62.37%, 2.11% 61.46%, 3.16% 60.61%, 4.21% 59.85%, 5.26% 59.19%, 6.32% 58.63%, 7.37% 58.21%, 8.42% 57.91%, 9.47% 57.75%, 10.53% 57.74%, 11.58% 57.87%, 12.63% 58.14%, 13.68% 58.54%, 14.74% 59.07%, 15.79% 59.71%, 16.84% 60.46%, 17.89% 61.29%, 18.95% 62.19%, 20.00% 63.13%, 21.05% 64.11%, 22.11% 65.09%, 23.16% 66.06%, 24.21% 67.00%, 25.26% 67.88%, 26.32% 68.70%, 27.37% 69.42%, 28.42% 70.04%, 29.47% 70.54%, 30.53% 70.92%, 31.58% 71.16%, 32.63% 71.25%, 33.68% 71.21%, 34.74% 71.02%, 35.79% 70.70%, 36.84% 70.24%, 37.89% 69.66%, 38.95% 68.98%, 40.00% 68.20%, 41.05% 67.34%, 42.11% 66.42%, 43.16% 65.46%, 44.21% 64.48%, 45.26% 63.49%, 46.32% 62.54%, 47.37% 61.62%, 48.42% 60.76%, 49.47% 59.98%, 50.53% 59.30%, 51.58% 58.73%, 52.63% 58.27%, 53.68% 57.95%, 54.74% 57.77%, 55.79% 57.73%, 56.84% 57.84%, 57.89% 58.08%, 58.95% 58.46%, 60.00% 58.97%, 61.05% 59.59%, 62.11% 60.32%, 63.16% 61.13%, 64.21% 62.02%, 65.26% 62.96%, 66.32% 63.93%, 67.37% 64.91%, 68.42% 65.89%, 69.47% 66.83%, 70.53% 67.73%, 71.58% 68.55%, 72.63% 69.30%, 73.68% 69.94%, 74.74% 70.46%, 75.79% 70.86%, 76.84% 71.12%, 77.89% 71.25%, 78.95% 71.23%, 80.00% 71.07%, 81.05% 70.77%, 82.11% 70.33%, 83.16% 69.78%, 84.21% 69.11%, 85.26% 68.34%, 86.32% 67.50%, 87.37% 66.59%, 88.42% 65.63%, 89.47% 64.65%, 90.53% 63.67%, 91.58% 62.71%, 92.63% 61.78%, 93.68% 60.91%, 94.74% 60.12%, 95.79% 59.42%, 96.84% 58.82%, 97.89% 58.35%, 98.95% 58.00%, 100.00% 57.80%);
}
.box-animation{opacity: 0; transform: translateY(40%);}

@media only screen and (max-width: 1680px){ 
  .boxed{padding-left: 100px; padding-right: 100px;}
  h1, .h1{font-size: 65px; line-height: 72px;}
  h2, .h2{font-size: 38px; line-height: 40px;}
}

@media only screen and (max-width: 1500px){
  h1, .h1{font-size: 60px; line-height: 65px;}
  h2, .h2{font-size: 33px; line-height: 35px;}
  .boxed{padding-left: 80px; padding-right: 80px;}
}

@media only screen and (max-width: 1250px){
  h1, .h1{font-size: 50px; line-height: 55px;}
  h2, .h2{font-size: 30px; line-height: 35px;}
}
@media only screen and (max-width: 1025px){
  h1, .h1{font-size: 47px; line-height: 55px;}
  h2, .h2{font-size: 27px; line-height: 30px;}
  .boxed{padding-left: 5vw; padding-right: 5vw;}
}
@media only screen and (max-width: 769){
  h1, .h1{font-size: 40px; line-height: 45px;}
  :root{
    --font-size: 20px;
  }
  body{line-height: 24px;}
  .particles-container{
    clip-path: polygon(100% 0%, 0% 0% , 0.00% 52.67%, 2.00% 52.62%, 4.00% 52.48%, 6.00% 52.25%, 8.00% 51.94%, 10.00% 51.57%, 12.00% 51.14%, 14.00% 50.66%, 16.00% 50.17%, 18.00% 49.67%, 20.00% 49.18%, 22.00% 48.72%, 24.00% 48.30%, 26.00% 47.95%, 28.00% 47.66%, 30.00% 47.46%, 32.00% 47.35%, 34.00% 47.34%, 36.00% 47.42%, 38.00% 47.59%, 40.00% 47.84%, 42.00% 48.17%, 44.00% 48.57%, 46.00% 49.02%, 48.00% 49.50%, 50.00% 50.00%, 52.00% 50.50%, 54.00% 50.98%, 56.00% 51.43%, 58.00% 51.83%, 60.00% 52.16%, 62.00% 52.41%, 64.00% 52.58%, 66.00% 52.66%, 68.00% 52.65%, 70.00% 52.54%, 72.00% 52.34%, 74.00% 52.05%, 76.00% 51.70%, 78.00% 51.28%, 80.00% 50.82%, 82.00% 50.33%, 84.00% 49.83%, 86.00% 49.34%, 88.00% 48.86%, 90.00% 48.43%, 92.00% 48.06%, 94.00% 47.75%, 96.00% 47.52%, 98.00% 47.38%, 100.00% 47.33%);
  }
}
